<IfModule mod_headers.c>
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
Header set Content-Security-Policy "default-src 'self'"
Header set Referrer-Policy "default-src "same-origin"
Header set Permissions-Policy "camera=(), microphone=()"
</IfModule>
